/* 1280 */
.place__image {
  margin: 0;
  padding: 0;
  max-width: 480px;
  height: auto;
  border:1px  solid red;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 42.96875vw;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 44.2708333vw;
  }
}

@media screen and (max-width: 450px) {
  .place__image {
    width: 46vw;
  }
}

@media screen and (max-width: 480px) {
  .place__image {
    width: 90vw;
    margin-bottom: 32px;
    object-fit: cover;
  }
}

@media screen and (max-width: 350px) {
  .place__image {
    width: 80vw;
    margin-bottom: 32px;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    width: 88vw;
  }
}
