.cover__subtitle {
  color: #FFFFFF;
  max-width: 382px;
  margin: 16px auto 0;
  font-size: 18px;
  line-height: 122%;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 114%;
  }
}