.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92.5%;
  margin: 28px auto 56px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
    }       
}

@media screen and (max-width: 400px) {
    .header {
      margin-top: 16px;
      margin-left:16px;
      }       
  }
  