.lead__title {
  color: #FFFFFF;
  max-width: 720px;
  margin: 56px 0 0;
  font-style: normal;
  font-weight: 900;
  line-height: 104%;
  font-size: 96px;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__title {
      margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
      margin: 48px 0 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
  .lead__title {
      margin: 48px 0 0;
      font-size: 40px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
      max-width: 288px;
      line-height: 110%;
      font-size: 40px;
      margin: 0;
      padding: 0;
  }
}