.intro__text {
  margin: 40px 0 32px 100px;
  max-width: 690px;
  color: #FFFFFF;
  font-size: 14px;
  font-size: 16px;
  line-height: 162%;
  font-weight: normal;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__text {
      margin-left: 48px;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  .intro__text {
    max-width: 720px;
    margin: 40px auto 32px;
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    max-width: 352px;
    margin: 40px auto 32px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}