/* 1280 */
.intro {
  margin: 0 auto 95px;
  width: calc(100% - 2*148px);
  border: 1px solid red;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 2*48px);
    margin-bottom: 100px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 2*24px);
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    width: calc(100% - 2*16px);
    margin-bottom: 63px;
  }
}


@media screen and (max-width: 350px) {
  .intro {
    width: calc(100% - 2*17px);
    margin:64px 0 0 0;
  }
}
