.place__image-subsection {
  display: flex;
  margin: 48px 0 0;
}

@media screen and (max-width: 640px) and (min-width: 320px) {
  .place__image-subsection {
      flex-wrap: wrap;
  }
}

@media screen and (max-width: 425px) {
  .place__image-subsection {
      margin-top: 32px;
  }
}