.lead__subtitle {
  margin: 32px auto 0;
  max-width: 640px;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 125%;
  }
}