/* 1280 */
.cover {
  margin: 91px auto 95px;
  padding: 0;
  width: calc(100% - 2*48px);
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .cover {
    width: calc(100% - 2*2px);
    margin-top: 86px;
    margin-bottom: 92px;

  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 88px;
  }
}


@media screen and (max-width: 480px) {
  .content__cover {
    margin-bottom: 64px;
    margin-top: 66px;
  }
}

@media screen and (max-width: 350px) {
  .cover {
    width: 89%;
    margin:64px 0 0 0;
  }
}
