.place__url-heading {
  color: #AAAAAA;
  max-width: 100%;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 23px 0 12px;
}

@media screen and (max-width: 425px) {
  .place__website {
    margin-top: 9px;/*32px по макету*/
  }
}


