.intro__title {
  color: #FFFFFF;
  max-width: 675px;
  margin: 64px 0 0 100px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  word-wrap: break-word;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin: 44px 0 40px;
  }
}

@media screen and (max-width: 768px){
  .intro__title {
    margin: 88px 0 40px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    margin: 64px auto 40px;
    max-width: 352px;
    font-size: 32px;
    line-height: 109%;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 275px;
  }
}